html.
  <head>
    
    <!-- Le styles -->
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    <script>
      var opts = {
        lines: 12, // The number of lines to draw
        length: 7, // The length of each line
        width: 5, // The line thickness
        radius: 10, // The radius of the inner circle
        color: '#000', // #rgb or #rrggbb
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: false, // Whether to render a shadow
        hwaccel: false // Whether to use hardware acceleration
      };
    </script>
    
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/spin.min.js"></script>
  </head>

  <body>
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container-fluid">
          <ul class="nav">
            <li><a href="/">Remote Run Test</a></li>
            <li class="active"><a href="/about">Help</a></li>
          </ul>
        </div>
      </div>
    </div>

        <!-- Example row of columns -->
        <div class="row">
          <div class="span2">&nbsp</div>
          <div class="span12">
            <h2>Here will be help</h2>
            <p>
              &nbsp
            </p>
          </div>
          </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="pull-right">
          Solver
        </div>
      </div>  
    </footer>
  </body>
